body {
  background: rgb(30, 30, 30);
  color: rgb(133, 133, 133);
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h4 {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(70, 200, 200);
}

main {
  margin: 30px auto;
  max-width: 380px;
}

img {
  width: 100%;
  max-width: 380px;
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
